<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Trips</title>
</head>
<body>
  <h1>Trips en El Salvador</h1>
  <table>
  	<tr>
  		<td>id</td>
  		<td>nombre</td>
  		<td>Fecha publicacion</td>
  		<td>Costo</td>
  		<td>Descripcion</td>
  	</tr>
  	<tr th:each="trip : ${trips}">
  		<td th:text="${trip.id}"></td>
  		<td th:text="${trip.nombre_trip}"></td>
  		<td th:text="${trip.fecha}"></td>
  		<td th:text="${trip.costo}"></td>
  		<td th:text="${trip.descripción}"></td>
  	</tr>
  </table>
</body>
</html>